@font-face {
    font-family: 'ProductSans';
    src: url("fonts/Product Sans Regular.ttf") format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ProductSans', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #F9E2C4;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header h1 {
    color: #7CA4E1;
    font-size: 36px;
}

header h2 {
    color: #7CA4E1;
    font-size: 24px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-content p {
    width: 60%;
}

h3 {
    color: #7CA4E1;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #533E22;
    margin-bottom: 50px;
}

/* General styles */
.image, .about-image, .diagram-image {
    width: 100%;
    height: auto; /* Automatically adjust height based on the image's aspect ratio */
    display: block;
    margin-bottom: 50px;
}

/* Adjust specific image dimensions */
.about-image {
    width: 35%; /* Same size as the placeholder */
}

.diagram-image {
    width: 100%;
    height: auto;
}

/* General video styles */
video {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: block;
}

.portraitvideo {
width: 30%;
margin: auto;
margin-bottom: 50px;
}

.about-video {
    display: block;
    width: 35%;
    margin-bottom: 50px;
}